@font-face {
    font-family: Baloo;
    src: url(../font/Baloo-Regular.ttf);
}

@font-face {
    font-family: Suisse;
    src: url(../font/SuisseIntl-SemiBold\(2\).ttf);
}

* {
    margin: 0;
}

html {
    background-color: #D5F2E3;
}

main {
    margin: 0 10% 10% 10%;
}

header {
    background-color: #1AA758;
    padding: 20px 20px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    margin-right: 2%;
}

.nav-item {
    background-color: #005238;
    padding: 5%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
    display: flex;
    cursor: pointer;
    transition: 0.7s ease;
}

.nav-item:hover {
    background-color: #E7732A;
}

.nav-link {
    text-decoration: none;
    color: #D5F2E3;
    font-family: Baloo;
    font-size: 1.5em;
}

.logo {
    text-decoration: none;
    color: #005238;
    font-family: Baloo;
    font-size: 1.5em;
}

li {
    list-style: none;
}

.logo {
    background-image: url('/icon/favicon.png');
    width: 160px;
    height: 160px;
    background-size: cover;    
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #D5F2E3;
}

label {
    font-size: 20px;
    font-weight: bold;
    font-family: Baloo;
    color: #005238;
}

p {
    font-family:  Helvetica;
}

a {
    text-decoration: none;
}

.id {
    display: none;
}

.scroll-up {
    position: fixed;
    bottom: 0;
    right: 0;
    cursor: pointer;
    z-index: 2;
}

footer {
    background-color: #E7732A;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.2);
}

footer a {
    color: #fff;
    text-decoration: none;
}

@media (max-width: 800px) {

    .navbar {
        position: relative;
        padding: 0;
        margin: 0;
    }

    .nav-menu {
        position: fixed;
        left: -110%;
        height: 80vh;
        background-color: #1AA758;
        width: 100%;
        transition: 0.6s;
        z-index: 3;
        top: 180px;
        display: flex; 
        flex-direction: column;
        justify-content: center; 
        margin-left: -40px;
    }


    .nav-menu.active {
        left: 0;
    }

    .hamburger {
        display: block;
        margin-right: 15%;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-item {
        background-color: transparent;
        box-shadow: none;
        gap: 0;
        font-size: 20px;
        
    }

    
}
