@font-face {
  font-family: Baloo;
  src: url(font/Baloo-Regular.ttf);
}

.grid_container{
  display: flex;
  overflow-x: hidden; 
  display: grid;
  grid-template-columns:repeat(2, 1fr);
  justify-items: center; 
  align-items: center; 
  margin-bottom: 100px;
  
  
} 
.venstre {
  max-width: 80%; 
  animation: bounce 3s infinite;
}

.venstre:hover{
  background-color: #E7732A;  /*orange eller grøn? eller an af hver?*/
  border-radius: 50%;
  animation: bounce 2s infinite;
  max-width: 75%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.højre {
  max-width: 80%; 
  animation: bounce 3s infinite;
}

.højre:hover{
  background-color:  #E7732A; 
  border-radius: 50%;
  animation: bounce 2s infinite;
  max-width: 75%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@keyframes bounce {
  0%, 100% 
      { transform: translateY(0); }
  25% 
      { transform: translateY(-10px); }
  50% 
      { transform: translateY(0); }
  75% 
      { transform: translateY(-5px); } 
}

#klikbilledevenstre,
#klikbilledehøjre {
  max-width: 100%; 
  height: auto; 
  align-items: center;
}

.vælgenskov{
    text-align: center;
    font-family: Baloo;
    color: #D5F2E3;
    background-color:  #005238;
    padding: 5px; 
    border-radius: 50px; 
    margin: 10px auto;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 790px) {
  .grid_container {
    display: flex;
    overflow-x: hidden;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
  }

  .venstre {
    max-width: 80%;
    animation: bounce 3s infinite;
  }

  .venstre:hover {
    background-color: #E7732A;
    border-radius: 50%;
    animation: bounce 2s infinite;
    max-width: 80%;
  }

  .højre {
    max-width: 80%;
    animation: bounce 3s infinite;
  }

  .højre:hover {
    background-color: #E7732A;
    border-radius: 50%;
    animation: bounce 2s infinite;
    max-width: 80%;
  }

  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(-10px);
    }
    50% {
      transform: translateY(0);
    }
    75% {
      transform: translateY(-5px);
    }
  }

  #klikbilledevenstre,
  #klikbilledehøjre {
    max-width: 100%;
    height: auto;
    align-items: center;
  }

  .vælgenskov {
    text-align: center;
    font-family: Baloo;
    color: #D5F2E3;
    background-color: #005238;
    padding: 5px;
    border-radius: 50px;
    margin: 10px auto;
    max-width: 400px;
    
  }
}

