/** imoprts **/

  @import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Baloo+Bhaijaan+2&display=swap');


main, head, body {
    background-color: #D5E9DE;
        margin: 0;
        padding: 0;
        
}
.container {
    width:70%;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    background-image: url('./img/naaleskov.jpg');
    background-size: contain; /* Billedet vil tilpasse sig containerens dimensioner, men kan forblive mindre end containeren */
    background-position: center center;
    background-repeat: no-repeat;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
    

}
.landing {
    margin-top: 20px;
}
   /** 
   
width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-image: url('./img/naaleskov.jpg');
    background-size: cover; 
    background-position: center top; 
    height: 100vh; 
    padding-top: 20px; 
    padding-bottom: 20px
    */
    
    


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
   
   
  }
  
  li {
    display: inline;
  }
  a {
    display: block;
    padding: 20px;
    background-color:#1AA758;
    text-align: right;
    font-family: 'Baloo Bhaijaan 2', cursive;
    text-decoration: none;
    font-size: 20px;
    padding-right: 3%;
  }
  img {
    max-width: 50%;
    max-height: 50%;
    
  }
  .flex{
  display: flex;
  justify-content: center; /* Centrer vandret */
  align-items: center; /* Centrer lodret */
  height: 80vh; 
  align-items: flex-start;
  }
/*
  .boxbehindtext {
    position: absolute;
    top: 0;
    left: 90%;
    width: 5%;
    height: 5%;
    border-radius: 30%;
    background-color:blue; 
    z-index: 0;
    opacity: 0.5;
*/


/**
h1 {
    text-align: center;
    font-family: 'Baloo Bhaijaan 2', cursive;

}    
**/
