@font-face {
    font-family: Baloo;
    src: url(font/Baloo-Regular.ttf);
}

@font-face {
    font-family: Suisse;
    src: url(font/SuisseIntl-SemiBold\(2\).ttf);
}

* {
    margin: 0;
}

html {
    background-color: #D5F2E3;
}

main {
    margin: 0 10% 10% 10%;
}

header {
    background-color: #1AA758;
    padding: 20px 20px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0; 
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    margin-right: 2%;
}

.nav-item {
    background-color: #005238;
    padding: 5%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
}

.nav-link {
    transition: 0.7 ease;
}

.nav-link:hover {
    color: #8fd5ad;;
}

.nav-menu a, .logo {
    text-decoration: none;
    color: #005238;
    font-family: Baloo;
    font-size: 1.5em;
    color: #D5F2E3;
}

li {
    list-style: none;
}

.logo {
    background-image: url('icon/favicon.png');
    width: 160px;
    height: 160px;
    background-size: cover;    
}

.lexiconGrid {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #D5F2E3;
}

.lexiconList {
    padding: 10px;
    text-align: center;
}

.lexiconList p.id {
    font-weight: bold;
}

.lexiconList img {
    max-width: 100%;
    height: auto;
    border-radius: 100%;
    outline: 8px solid #5E503F;;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.4);
}

.lexiconList img:hover {
    outline: 8px solid #ef6605;
}

@keyframes bounce {
    0%, 100% 
        { transform: translateY(0); }
    25% 
        { transform: translateY(-10px); }
    50% 
        { transform: translateY(0); }
    75% 
        { transform: translateY(-5px); } 
}

.heading {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
    font-family: Baloo;
    font-size: 7cqw;
    border-radius: 100%;
    background-color: #005238;
    color: #D5F2E3;
    text-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: bounce 2s infinite; 
}


h2 {
    font-family: Suisse;
    font-weight:lighter;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#mushroom {
    background-color: #FFFEF4;
}

#mushroom:hover {
    background-color: #e6e5db;
}

p {
    font-family:  Helvetica;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

select:hover {
    cursor: pointer;
}

form {
    padding-bottom: 5%;
    margin: 0 auto;
}

input {
    display: block;
    width: 100%;
    padding: 10px;
    color: white;
    background-color: #EF6605;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

input:hover {
    background-color: #5E503F;
}

#lexiconGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.lexiconList img {
    max-width: 100%;
    height: auto;
}

.lexicon h3 {
    font-size: 18px;
    margin: 10px 0;
}

.title {
    color: #5E503F;
    font-family: Baloo;
    padding: 5%;
    font-size: 30px;
    border-radius: 5%;
    text-decoration: none;
}

.title:hover {
    color: #EF6605;
}

a {
    text-decoration: none;
}

.id {
    display: none;
}

.scroll-up {
    position: fixed;
    bottom: 0;
    right: 0;
    cursor: pointer;
    z-index: 2;
}

footer {
    background-color: #ef6605;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.2);
}

footer a {
    color: #fff;
    text-decoration: none;
}

@media (max-width: 790px) {

    .heading {
        font-size: 3em;
        padding: 5%;
        margin-top: 20%;
        margin-bottom: 20%;
    }

    form {
        margin-top: 20%;
        margin-bottom: 20%;
    }

    .lexiconGrid {
        display: list-item;
    }

    .navbar {
        position: relative;
        padding: 0;
        margin: 0;
    }

    .nav-menu {
        position: fixed;
        left: -110%;
        height: 100vh;
        background-color: #1AA758;
        width: 100%;
        text-align: left;
        transition: 0.6s;
        z-index: 3;
    }

    .nav-menu.active {
        left: 0;
    }

    .hamburger {
        display: block;
        margin-right: 15%;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-item {
        background-color: transparent;
        box-shadow: none;
        font-size: 20px;
    }

    .nav-item:hover {
        color: #8fd5ad;
    }

    .nav-menu {
        top: 180px;
        display: list-item;
        gap: 60px;
    }
}
