.lexiconGrid {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
}

.lexiconList {
    padding: 10px;
    text-align: center;
}

.lexiconList p.id {
    font-weight: bold;
}

.lexiconList img {
    max-width: 100%;
    height: auto;
    border-radius: 100%;
    outline: 8px solid #5E503F;;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.4);
}

.lexiconList img:hover {
    outline: 8px solid #ef6605;
}

@keyframes bounce {
    0%, 100% 
        { transform: translateY(0); }
    25% 
        { transform: translateY(-10px); }
    50% 
        { transform: translateY(0); }
    75% 
        { transform: translateY(-5px); } 
}

.heading {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
    font-family: Baloo;
    font-size: 7cqw;
    border-radius: 100%;
    background-color: #005238;
    color: #D5F2E3;
    text-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: bounce 2s infinite; 
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#mushroom {
    background-color: #FFFEF4;
}

#mushroom:hover {
    background-color: #e6e5db;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

select:hover {
    cursor: pointer;
}

form {
    padding-bottom: 5%;
    margin: 0 auto;
}

input {
    display: block;
    width: 100%;
    padding: 10px;
    color: white;
    background-color: #EF6605;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

input:hover {
    background-color: #5E503F;
}

#lexiconGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.lexiconList img {
    max-width: 100%;
    height: auto;
}

.lexicon h3 {
    font-size: 18px;
    margin: 10px 0;
}

.title {
    color: #5E503F;
    font-family: Baloo;
    padding: 5%;
    font-size: 30px;
    border-radius: 5%;
    text-decoration: none;
}

.title:hover {
    color: #E7732A;
}

a {
    text-decoration: none;
}

.id {
    display: none;
}

.scroll-up {
    position: fixed;
    bottom: 0;
    right: 0;
    cursor: pointer;
    z-index: 2;
}


@media (max-width: 790px) {

    .heading {
        font-size: 3em;
        padding: 5%;
        margin-top: 20%;
        margin-bottom: 20%;
    }

    form {
        margin-top: 20%;
        margin-bottom: 20%;
    }

    .lexiconGrid {
        display: list-item;
    }

    .navbar {
        position: relative;
        padding: 0;
        margin: 0;
    }

    .nav-menu {
        position: fixed;
        left: -110%;
        height: 100vh;
        background-color: #1AA758;
        width: 100%;
        text-align: left;
        transition: 0.6s;
        z-index: 3;
    }

    .nav-menu.active {
        left: 0;
    }

    .hamburger {
        display: block;
        margin-right: 15%;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-item {
        background-color: transparent;
        box-shadow: none;
        font-size: 20px;
    }

    .nav-item:hover {
        color: #8fd5ad;
    }

    .nav-menu {
        top: 180px;
        display: list-item;
        gap: 60px;
    }
}
