* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/***********style***********/

h1 {
    a;
}



/***********section***********/

section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e1ea88;
  height: 300vh;
}

.container 
  height: 100%;
}

.wrapper-2 {
  height: auto;
  width: auto;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.billede-1 {
  width: 1080px;
  height: 0%;
  background: no-repeat center / cover;
  border-radius: 0%;
  margin-left: 0;
}
