* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/***********style***********/

h1 {
  font-weight: 300px;
  font-size: 8vh;
  text-align: center;
}

h2 {
  font-weight: 300px;
  font-size: 2vh;
  text-align: center;
}

p {
  font-size: 18px;
  width: 100%;
}

/***********section***********/

section {
  padding: 10vw;
  min-height: 100vh;
  justify-content: center;
  background-color: #ffffff;
}

/**********flex**********/

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.flex-items:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(2) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

/********img********/
